In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook
from matplotlib import pyplot as plt
%matplotlib inline

In [6]:
col_names = ['date',
            'home_team',
            'away_team',
            'home_score',
            'away_score',
            'tournament',
            'city', 
            'country',
            'neutral']

In [7]:
ds = pd.read_csv('./results/results.csv', ',', names = col_names, index_col = False)
ds

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,FALSE
2,1873-03-08,England,Scotland,4,2,Friendly,London,England,FALSE
3,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,FALSE
4,1875-03-06,England,Scotland,2,2,Friendly,London,England,FALSE
5,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,FALSE
6,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,FALSE
7,1877-03-03,England,Scotland,1,3,Friendly,London,England,FALSE
8,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,FALSE
9,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,FALSE
10,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,FALSE
11,1879-01-18,England,Wales,2,1,Friendly,London,England,FALSE
12,1879-04-05,England,Scotland,5,4,Friendly,London,England,FALSE
13,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,FALSE
14,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,FALSE
15,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,FALSE
16,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,FALSE
17,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,FALSE
18,1881-03-12,England,Scotland,1,6,Friendly,London,England,FALSE
19,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,FALSE
20,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Republic of Ireland,FALSE
21,1882-02-25,Wales,Northern Ireland,7,1,Friendly,Wrexham,Wales,FALSE
22,1882-03-11,Scotland,England,5,1,Friendly,Glasgow,Scotland,FALSE
23,1882-03-13,Wales,England,5,3,Friendly,Wrexham,Wales,FALSE
24,1882-03-25,Scotland,Wales,5,0,Friendly,Glasgow,Scotland,FALSE
25,1883-02-03,England,Wales,5,0,Friendly,London,England,FALSE
26,1883-02-24,England,Northern Ireland,7,0,Friendly,Liverpool,England,FALSE
27,1883-03-10,England,Scotland,2,3,Friendly,Sheffield,England,FALSE
28,1883-03-12,Wales,Scotland,0,3,Friendly,Wrexham,Wales,FALSE
29,1883-03-17,Northern Ireland,Wales,1,1,Friendly,Belfast,Republic of Ireland,FALSE
...,...,...,...,...,...,...,...,...,...
40916,2019-09-09,Azerbaijan,Croatia,1,1,UEFA Euro qualification,Baku,Azerbaijan,FALSE
40917,2019-09-09,Hungary,Slovakia,1,2,UEFA Euro qualification,Budapest,Hungary,FALSE
40918,2019-09-09,Poland,Austria,0,0,UEFA Euro qualification,Warsaw,Poland,FALSE
40919,2019-09-09,Slovenia,Israel,3,2,UEFA Euro qualification,Ljubljana,Slovenia,FALSE
40920,2019-09-09,Latvia,North Macedonia,0,2,UEFA Euro qualification,Riga,Latvia,FALSE
40921,2019-09-09,Scotland,Belgium,0,4,UEFA Euro qualification,Glasgow,Scotland,FALSE
40922,2019-09-09,Russia,Kazakhstan,1,0,UEFA Euro qualification,Kaliningrad,Russia,FALSE
40923,2019-09-09,San Marino,Cyprus,0,4,UEFA Euro qualification,Serravalle,San Marino,FALSE
40924,2019-09-10,Argentina,Mexico,4,0,Friendly,San Antonio,United States,TRUE
40925,2019-09-10,Brazil,Peru,0,1,Friendly,Los Angeles,United States,TRUE
40926,2019-09-10,Colombia,Venezuela,0,0,Friendly,Tampa,United States,TRUE
40927,2019-09-10,Ecuador,Bolivia,3,0,Friendly,Cuenca,Ecuador,FALSE
40928,2019-09-10,Honduras,Chile,2,1,Friendly,San Pedro Sula,Honduras,FALSE
40929,2019-09-10,Ivory Coast,Tunisia,2,1,Friendly,Rouen,France,TRUE
40930,2019-09-10,Jordan,Paraguay,2,4,Friendly,Amman,Jordan,FALSE
40931,2019-09-10,Morocco,Niger,1,0,Friendly,Marrakech,Morocco,FALSE
40932,2019-09-10,Oman,Lebanon,1,0,Friendly,Muscat,Oman,FALSE
40933,2019-09-10,Republic of Ireland,Bulgaria,3,1,Friendly,Dublin,Republic of Ireland,FALSE
40934,2019-09-10,Ukraine,Nigeria,2,2,Friendly,Dnipro,Egypt,TRUE
40935,2019-09-10,United States,Uruguay,1,1,Friendly,St Louis,Egypt,TRUE
40936,2019-09-10,England,Kosovo,5,3,UEFA Euro qualification,London,England,FALSE
40937,2019-09-10,Montenegro,Czech Republic,0,3,UEFA Euro qualification,Podgorica,Montenegro,FALSE
40938,2019-09-10,Luxembourg,Serbia,1,3,UEFA Euro qualification,Luxembourg City,Luxembourg,FALSE
40939,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,FALSE
40940,2019-09-10,Albania,Iceland,4,2,UEFA Euro qualification,Elbasan,Albania,FALSE
40941,2019-09-10,France,Andorra,3,0,UEFA Euro qualification,Paris,France,FALSE
40942,2019-09-10,Moldova,Turkey,0,4,UEFA Euro qualification,Chișinău,Moldova,FALSE
40943,2019-09-18,DR Congo,Rwanda,2,3,Friendly,Kinshasa,DR Congo,TRUE
40944,2019-09-29,Bangladesh,Bhutan,4,1,Friendly,Dhaka,Bangladesh,FALSE
40945,2019-09-30,Botswana,Liberia,0,0,Friendly,Gaborone,Botswana,FALSE

In [8]:
ds.shape

(40946, 9)

In [9]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40946 entries, 0 to 40945
Data columns (total 9 columns):
date          40946 non-null object
home_team     40946 non-null object
away_team     40946 non-null object
home_score    40946 non-null object
away_score    40946 non-null object
tournament    40946 non-null object
city          40946 non-null object
country       40946 non-null object
neutral       40946 non-null object
dtypes: object(9)
memory usage: 2.8+ MB

In [10]:
ds.describe()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
count,40946,40946,40946,40946,40946,40946,40946,40946,40946
unique,15134,312,308,27,23,110,1966,267,3
top,2012-02-29,Brazil,Uruguay,1,0,Friendly,Kuala Lumpur,United States,FALSE
freq,66,565,538,12110,15170,16967,582,1151,30756

In [11]:
ds.describe(include=['O'])

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
count,40946,40946,40946,40946,40946,40946,40946,40946,40946
unique,15134,312,308,27,23,110,1966,267,3
top,2012-02-29,Brazil,Uruguay,1,0,Friendly,Kuala Lumpur,United States,FALSE
freq,66,565,538,12110,15170,16967,582,1151,30756